<div
    class="relative flex w-full flex-none flex-col items-center self-start gap-[10px] sm:gap-[15px] overflow-clip p-0 h-min">
    <!--  -->
    <div class="relative w-full flex-none h-auto whitespace-pre-wrap break-words transform-none">
        <h1
            class="text-[64px] sm:text-[44px] md:text-[54px] font-[500] leading-[1.1em] tracking-[-0.03em] text-[#000]">
            250+</h1>
    </div>
    <!-- Line -->
    <div class="relative w-full h-px flex-none overflow-clip bg-[#ebebeb]"></div>
    <!-- Description -->
    <div class="relative flex w-full flex-none flex-col items-start gap-[8px] overflow-clip p-0 h-min">
        <div class="relative w-full flex-none h-auto whitespace-pre-wrap break-words transform-none">
            <p class="text-[#000] text-[16px] sm:text-[14px] leading-[1.2em] tracking-[-0.03em] font-[500]">
                Projects
                Delivered</p>
        </div>
        <div class="relative w-full flex-none h-auto whitespace-pre-wrap break-words transform-none">
            <p
                class="text-[#616161] text-[12px] sm:text-[12px] leading-[1.2em] tracking-[-0.03em] font-[500]">
                Successful
                consulting across industries.</p>
        </div>
    </div>
</div>