<div
    class="mt-[82px] flex flex-col items-center content-center justify-start gap-0 h-min min-h-screen overflow-clip bg-[#f7f7f7]">
    <!-- Page title -->
    <div
        class="relative flex w-full flex-none flex-row items-center gap-[10px] overflow-clip px-[20px] py-[60px] sm:px-[24px] sm:py-[80px] md:px-[30px] md:py-[100px] h-min">
        <!-- Inner -->
        <div
            class="relative flex w-full flex-1 flex-col gap-[50px] sm:gap-[65px] md:gap-[80px] overflow-clip p-0 h-min">
            <!-- Title section -->
            <app-page-title label="About Me" title="Turning ideas into meaningful digital experiences"
                description="I’m Evans Chiragwile, a software engineer who designs and develops modern web and mobile applications, combining clean code, thoughtful UI/UX, and practical problem-solving to build useful digital products."></app-page-title>
            <!--  -->
            <div
                class="relative w-full flex-none aspect-[1.9/1] overflow-clip rounded-[5px] min-h-[200px] sm:min-h-[260px] md:min-h-[300px] max-h-[600px] max-w-[1728px] m-auto h-auto md:h-[600px]">
                <div class="absolute inset-0 rounded-[inherit]">
                    <img src="https://framerusercontent.com/images/WKbA6bhfE9tvPTvWtpUlGpMd0.jpg?scale-down-to=512&width=4032&height=2688 512w,https://framerusercontent.com/images/WKbA6bhfE9tvPTvWtpUlGpMd0.jpg?scale-down-to=1024&width=4032&height=2688 1024w,https://framerusercontent.com/images/WKbA6bhfE9tvPTvWtpUlGpMd0.jpg?scale-down-to=2048&width=4032&height=2688 2048w,https://framerusercontent.com/images/WKbA6bhfE9tvPTvWtpUlGpMd0.jpg?width=4032&height=2688 4032w"
                        alt="" class="block w-full h-full rounded-[inherit] object-center object-cover">
                </div>
            </div>
            <!-- Story -->
            <div
                class="relative flex w-full max-w-[1400px] m-auto flex-none flex-col md:flex-row items-start gap-[24px] md:gap-[10px] overflow-clip p-0 h-min">
                <div class="relative flex-none h-auto w-full md:w-[278px]">
                    <div
                        class="relative flex w-full max-w-[250px] flex-row place-content-center items-center gap-[10px] overflow-clip pt-[5px] px-0 pb-0">
                        <div
                            class="relative flex h-[20px] w-[20px] flex-none flex-row place-content-center items-center gap-[10px] overflow-clip rounded-full bg-[#E4FE00] p-0 opacity-100 will-change-transform">
                            <div class="relative flex-none w-[13px] h-[13px]">
                                <div class="contents">

                                </div>
                            </div>
                        </div>
                        <div class="relative flex-1 w-px h-auto whitespace-pre-wrap break-words">
                            <p
                                class="text-[13px] sm:text-[14px] text-[#616161] leading-[1.2em] tracking-[-0.03em] font-[500]">
                                My Story</p>
                        </div>
                    </div>
                </div>
                <div
                    class="relative flex w-full flex-1 flex-col md:flex-row items-start justify-between content-start gap-[24px] md:gap-0 overflow-clip p-0 h-min">
                    <div class="relative flex-none h-auto w-full md:w-[373px] whitespace-pre-wrap break-words">
                        <p
                            class="text-[20px] sm:text-[22px] md:text-[24px] font-[500] leading-[1.15em] md:leading-[1.1em] tracking-[-0.03em] text-[#000]">
                            Semono was
                            founded
                            with a vision to help modern businesses navigate growth challenges through strategic
                            consulting,
                            operational clarity, and scalable business solutions.</p>
                    </div>
                    <div
                        class="relative flex w-full md:w-[400px] flex-none flex-col items-start gap-[24px] md:gap-[30px] overflow-clip pt-0 md:pt-[5px] px-0 pb-0 h-min">
                        <div
                            class="relative flex w-full flex-none flex-col items-center gap-[15px] overflow-clip p-0 h-min">
                            <div
                                class="relative flex-none h-auto w-full whitespace-pre-wrap break-words transform-none">
                                <p
                                    class="text-[15px] sm:text-[16px] font-[500] text-[#616161] leading-[1.3em] md:leading-[1.2em] tracking-[-0.03em]">
                                    What
                                    started as a small consulting initiative has evolved into a trusted business partner
                                    for
                                    companies seeking stronger leadership alignment, improved operational performance,
                                    and
                                    sustainable long-term growth.</p>
                            </div>
                            <div
                                class="relative flex-none h-auto w-full whitespace-pre-wrap break-words transform-none">
                                <p
                                    class="text-[15px] sm:text-[16px] font-[500] text-[#616161] leading-[1.3em] md:leading-[1.2em] tracking-[-0.03em]">
                                    Today,
                                    Semono continues to support organizations across multiple industries by delivering
                                    practical consulting strategies focused on measurable business impact and
                                    future-ready
                                    transformation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fact number -->
            <app-stats-section></app-stats-section>
        </div>
    </div>
    <!-- Mission & Values -->
    <div
        class="relative flex w-full flex-none flex-row items-center gap-[10px] overflow-clip px-[20px] py-[60px] sm:px-[24px] sm:py-[80px] md:px-[30px] md:py-[100px] h-min">
        <!-- Inner -->
        <div
            class="relative flex w-full max-w-[1400px] flex-1 flex-col items-center gap-[50px] sm:gap-[65px] md:gap-[80px] overflow-clip p-0 h-min">
            <!-- Title section -->
            <div class="relative flex w-full flex-none flex-col items-start gap-[30px] overflow-visible p-0 h-min">
            </div>
            <!-- Content -->
            <div class="relative flex w-full flex-none flex-col items-center gap-[10px] overflow-clip p-0 h-min"></div>
            <!-- Details -->
            <div class=""></div>
        </div>
    </div>
</div>