<div class="flex w-full max-w-[1400px] m-auto flex-none flex-col items-start gap-[24px] sm:gap-[30px] overflow-visible h-min">
    <!-- Title -->
    <div
        class="flex w-full max-w-[720px] flex-none flex-col items-start gap-[16px] sm:gap-[20px] overflow-visible p-0 h-min">
        <!-- Label -->
        <div
            class="flex w-min flex-none flex-row place-content-center items-center gap-[10px] h-min overflow-clip rounded-[3px] bg-[#EBEBEB] px-[6px] py-[4px] will-change-transform">
            <div class="relative flex-none w-auto h-auto whitespace-pre transform-none">
                <div
                    class="text-[14px] sm:text-[15px] md:text-[16px] font-[500] text-[#616161] leading-[1.2em] tracking-[-0.03em]">
                    {{ label }}</div>
            </div>
        </div>
        <!-- Title -->
        <div class="">
            <h1
                class="tracking-[-0.03em] leading-[1.15em] sm:leading-[1.1em] text-[32px] sm:text-[38px] md:text-[46px] lg:text-[54px] font-[500] text-[#000]">
                {{ title }}</h1>
        </div>
    </div>
    <!-- Description -->
    <div
        class="w-full max-w-[469px] flex-none h-auto whitespace-pre-wrap break-words overflow-wrap-break-word">
        <p
            class="text-[14px] sm:text-[15px] md:text-[16px] font-[500] text-[#616161] leading-[1.3em] sm:leading-[1.2em] tracking-[-0.03em]">
            {{ description }}</p>
    </div>
</div>