<div
    class="mt-[82px] flex flex-col items-center content-center justify-start gap-0 h-min min-h-screen overflow-clip bg-[#f7f7f7]">
    <div class="relative flex w-full flex-none flex-row items-center gap-[10px] overflow-clip px-[20px] py-[60px] sm:px-[24px] sm:py-[80px] md:px-[30px] md:py-[100px] h-min">
        <div class="relative flex w-full flex-1 flex-col gap-[50px] sm:gap-[65px] md:gap-[80px] overflow-clip p-0 h-min">
            <app-page-title label="Featured Projects" title="Projects I've designed and built"
                description="Explore a selection of web and mobile applications I've developed, showcasing my skills in software engineering, UI/UX design, problem-solving, and building practical digital solutions."></app-page-title>
        </div>
    </div>
</div>